<ng-template #productModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Nuovo Prodotto</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="productForm">
      <div class="form-group">
        <input type="hidden" formControlName="id" />
        <label for="marca">Marca</label>
        <input type="text" class="form-control" formControlName="marca" [ngClass]="{
            'is-valid': marca.valid,
            'is-invalid': marca.invalid && (marca.dirty || marca.touched)
          }" required />
        <div *ngIf="marca.invalid && (marca.dirty || marca.touched)" class="alert alert-danger">
          <div *ngIf="marca.errors.required">
            La marca è obbligatorio
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="modello">Modello</label>
        <input type="text" class="form-control" formControlName="modello" [ngClass]="{
            'is-valid': modello.valid,
            'is-invalid': modello.invalid && (modello.dirty || modello.touched)
          }" required />
        <div *ngIf="modello.invalid && (modello.dirty || modello.touched)" class="alert alert-danger">
          <div *ngIf="modello.errors.required">
            Il modello è obbligatorio
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="descrizione">Descrizione</label>
        <textarea class="form-control" formControlName="descrizione" [ngClass]="{
            'is-valid': descrizione.valid,
            'is-invalid': descrizione.invalid && (descrizione.dirty || descrizione.touched)
          }" required></textarea>
        <div *ngIf="descrizione.invalid && (descrizione.dirty || descrizione.touched)" class="alert alert-danger">
          <div *ngIf="descrizione.errors.required">
            La descrizione è obbligatoria
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('cancel click')">
      Annulla
    </button>
    <button type="button" ngbAutofocus class="btn btn-success" (click)="save()">
      Salva
    </button>
  </div>
</ng-template>
