
<app-header-page titlePage="Lotteries" breadCrumbPage="Lotteries" iconPage="fas fa-birthday-cake"></app-header-page>


<app-content-page>

<h2>Lotteries</h2>
<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Id</th>
        <th scope="col">Nome lotteria</th>
        <th scope="col">Riferimento</th>
        <th scope="col">Acronimo</th>
        <th colspan="2">Action</th>
      </tr>
    </thead>
    <tbody *ngFor="let lottery of lotteries | async; let i = index">
      <tr>
        <th scope="row">{{i+1}}</th>
        <td>{{lottery.id}}</td>
        <td>{{lottery.lottery_name}}</td>
        <td>{{lottery.reference}}</td>
        <td>{{lottery.lottery_acronym}}</td>
        <td><button class="btn btn-sm btn-primary" [routerLink]="['/lotteriesclasswin',lottery.id]">Classi Vincita</button></td>
      </tr>
    </tbody>
  </table>

</app-content-page>
