<app-header-page titlePage="Draws" breadCrumbPage="Draws" iconPage="fas fa-birthday-cake"></app-header-page>

<app-content-page>
  <div>
    <ul>
      <li><a [routerLink]="['/draw-add']">Inserisci estrazione</a></li>
    </ul>
  </div>
  <select name="lotteries" id="lotteries" (change)="filterLotteries($event)">
    <option value="0"> - </option>
    <option value="{{lottery.id}}" *ngFor="let lottery of lotteries | async">{{lottery.lottery_name}}</option>
  </select>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Id</th>
        <th scope="col">Data</th>
        <th scope="col">Nome lotteria</th>
        <th scope="col">Estrazione N.</th>
        <th scope="col">Jackpot</th>
        <th scope="col">Numeri</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody *ngFor="let draw of draws | async; let i = index">
      <tr>
        <th scope="row">{{i+1}}</th>
        <td>{{draw.id}}</td>
        <td>{{draw.data}}</td>
        <td>{{draw.lottery_name}}</td>
        <td>{{draw.number_draw}}</td>
        <td>{{draw.jackpot_amount}}</td>
        <td>
          <span *ngFor="let number of draw.numbers">{{number.number}} </span>
        </td>
        <td>
          <button class="btn btn-primary btn-sm" [routerLink]="['/draws-prizes',draw.id]">Quote</button>
        </td>
      </tr>
    </tbody>
  </table>

</app-content-page>
