.timeSolotRadio:disabled {
    opacity: 0.5;
}

.timeslots-block {
    table {
        td {
            .form-group {
                margin-bottom: 0rem;
            }
        }
    }
}

.customer-button-group,
.product-button-group {
    display: flex;
    margin-bottom: 1rem;
    align-items: flex-end;

    ::ng-deep {
        .form-group {
            margin-bottom: unset;
        }
    }
}

.interventions-filters {
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-wrap: nowrap;

    label {
        margin-bottom: 0px;
    }

    app-search {
        flex-shrink: 0;
    }
}

.date-range-filter {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    .form-control {
        width: auto;
    }
}